* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0);
}

main {
    position: fixed;
    display: inline-block;
    border: 1px solid red;
    /*background: rgb(0, 224, 240);*/
    background: rgba(0, 0, 0, 0);
}

#config {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    right: 10px;
    top: 10px;
    z-index: 6;
}

input[type='file'] {
    display: none
}

/* Aparência que terá o seletor de arquivo */
label {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 3rem;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
}

header {
    z-index: 6;
}

#configView {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    transform: translate(0%, 50%);
    z-index: 10;
    border: 2px solid rgb(0, 235, 223);
    border-radius: 30px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    color: white;
    font-family: 'Poppins Bold';
    font-size: 24px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
}

.div2 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

.div3 {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
}

.div4 {
    grid-area: 3 / 2 / 3 / 4;
    text-align: center;
}

.button {
    display: inline-block;
    color: white;
    font-weight: bold;
    transition: .3s;
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 3%;
    width: 150px;
}

.chat {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30%;
    height: 30vh;
    color: white;
    font-family: 'Poppins Bold';
    font-size: 24px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    overflow-x: auto;
    border-radius: 30px;
    box-shadow: 4px 4px 10px black;
}

.chat p {
    display: inline-block;
    color: black;
}

.playerChar {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 150px;
    bottom: 30px;
    font-family: 'Poppins Bold';
    text-align: center;
    color: whitesmoke;
    z-index: 3;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.char1, .char2, .char3, .char4, .char5,
.char6, .char7, .char8, .char9, .char10,
.char11, .char12, .char13, .char14, .char15,
.char16, .char17, .char18, .char19, .char20 {
    width: 100px;
    height: 100px;
}

.char1 {
    background: url(../img/charB1.png);
    background-size: 300px 300px;
}

.char2 {
    background: url(../img/charB2.png);
    background-size: 300px 300px;
}

.char3 {
    background: url(../img/charB3.png);
    background-size: 300px 300px;
}

.char4 {
    background: url(../img/charB4.png);
    background-size: 300px 300px;
}

.char5 {
    background: url(../img/charB5.png);
    background-size: 300px 300px;
}

.char6 {
    background: url(../img/charB6.png);
    background-size: 300px 300px;
}

.char7 {
    background: url(../img/charB7.png);
    background-size: 300px 300px;
}

.char8 {
    background: url(../img/charB8.png);
    background-size: 300px 300px;
}

.char9 {
    background: url(../img/charB9.png);
    background-size: 300px 300px;
}

.char10 {
    background: url(../img/charB10.png);
    background-size: 300px 300px;
}

.char11 {
    background: url(../img/charB11.png);
    background-size: 300px 300px;
}

.char12 {
    background: url(../img/charB12.png);
    background-size: 300px 300px;
}

.char13 {
    background: url(../img/charB13.png);
    background-size: 300px 300px;
}

.char14 {
    background: url(../img/charB14.png);
    background-size: 300px 300px;
}

.char15 {
    background: url(../img/charB15.png);
    background-size: 300px 300px;
}

.char16 {
    background: url(../img/charB16.png);
    background-size: 300px 300px;
}

.char17 {
    background: url(../img/charB17.png);
    background-size: 300px 300px;
}

.char18 {
    background: url(../img/charB18.png);
    background-size: 300px 300px;
}

.char19 {
    background: url(../img/charB19.png);
    background-size: 300px 300px;
}

.char20 {
    background: url(../img/charB20.png);
    background-size: 300px 300px;
}

.sword1 {
    position: absolute;
    bottom: -13px;
    left: 8px;
    background: url(../img/sword1.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.player1 {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 250px;
    left: 0%;
    right: 35%;
    top: 50%;
    margin: auto;
    transform: translate(0, -60%);
    font-family: 'Poppins Bold';
    text-align: center;
    color: whitesmoke;
    z-index: 3;
}

.player2 {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 250px;
    left: 35%;
    right: 0%;
    top: 50%;
    margin: auto;
    transform: translate(0, -60%);
    font-family: 'Poppins Bold';
    text-align: center;
    color: whitesmoke;
    z-index: 3;
}

.char {
    background-size: 600px 600px;
    width: 200px;
    height: 200px;
}

.player1 .sword {
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    bottom: 35px;
    left: 20px;
}

.player2 .char {
    transform: scaleX(-1);
}

.player2 .sword {
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    bottom: 35px;
    left: auto;
    right: 0px;
    transform: scaleX(-1);
}

.pvp {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Poppins Bold';
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    height: 350px;
}

.pvp .vs {
    font-size: 200px;
    color: whitesmoke;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.pvp .vs span:nth-child(1) {
    font-size: 150px;
    left: 0px;
    right: 10%;
    top: 50%;
    transform: translate(0, -56%);
    position: absolute;
}

.pvp .vs span:nth-child(2) {
    font-size: 150px;
    left: 0px;
    right: 0;
    top: 50%;
    transform: translate(0, -40%);
    position: absolute;
}

.pvp .vs span:nth-child(3) {
    font-size: 150px;
    left: 10%;
    right: 0%;
    top: 60%;
    transform: translate(0, -28%);
    position: absolute;
}

.cenario1 {
    position: absolute;
    display: inline-block;
    background: url(../img/cena1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 90vh;
    bottom: -20px;
    z-index: -1;
}

#player1 {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 150px;
    font-family: 'Poppins Bold';
    text-align: center;
    color: whitesmoke;
    z-index: 3;
    left: 0;
    right: 25%;
    margin: auto;
}

#player2 {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 150px;
    font-family: 'Poppins Bold';
    text-align: center;
    color: whitesmoke;
    z-index: 3;
    left: 25%;
    right: 0;
    margin: auto;
}

.charControl {
    transform: scaleX(-1);
}

.swordControl {
    transform: scaleX(-1);
    left: auto;
    right: 0;
}

.fight {
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: 0;
}

.playerName {
    color: whitesmoke;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.playerLevel {
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.shadow {
    position: fixed;
    display: inline-block;
    width: 100%;
    bottom: 75px;
    height: 225px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

.vida {
    background: rgb(0, 139, 0);
}

.win i {
    font-family: 'Poppins Bold';
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    display: inline-block;
    margin: 100px 0;
    padding-left: 70px;
}

.attack1 {
    position: absolute;
    bottom: -13px;
    left: 8px;
    background: url(../img/sword1.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    animation: attack 0.5s;
    transform: rotate(0deg);
}

@keyframes attack {
    0% {
        transform: rotate(0deg);
        bottom: -13px;
        left: 8px;
    }

    40% {
        transform: rotate(120deg);
        bottom: 25px;
        left: 15px;
    }

    80% {
        transform: rotate(240deg);
        bottom: 10px;
        left: 60px;
    }

    100% {
        transform: rotate(240deg);
        bottom: 10px;
        left: 60px;
    }
}


.attack2 {
    animation: attack2 0.5s;
    transform: scaleX(-1) rotate(0deg);
}

@keyframes attack2 {
    0% {
        transform: scaleX(-1) rotate(0deg);
        bottom: -13px;
        right: 8px;
    }

    40% {
        transform: scaleX(-1) rotate(120deg);
        bottom: 25px;
        right: 15px;
    }

    80% {
        transform: scaleX(-1) rotate(240deg);
        bottom: 10px;
        right: 60px;
    }

    100% {
        transform: scaleX(-1) rotate(240deg);
        bottom: 10px;
        right: 60px;
    }

}

.demage2 {
    background: url(../img/charB2.png);
    background-size: 300px 300px;
    animation: damge2 0.1s;
    animation-delay: 0.2s;
}

@keyframes damge2 {
    0% {
        background-size: 300px 300px;
        background-position: -200px -112px;
    }

    100% {
        background-size: 300px 300px;
        background-position: -200px -112px;
    }

}


.demage20 {
    background: url(../img/charB20.png);
    background-size: 300px 300px;
    animation: damge20 0.1s;
    animation-delay: 0.2s;
}

@keyframes damge20 {
    0% {
        background-size: 300px 300px;
        background-position: -200px -112px;
    }

    100% {
        background-size: 300px 300px;
        background-position: -200px -112px;
    }

}

.ranking {
    font-family: 'Poppins Bold';
    position: absolute;
    width: 34%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@font-face {
    font-family: Poppins Bold;
    src: url('../font/Poppins-SemiBold.ttf');
}